In [1]:
import pandas as pd

In [4]:
pd.DataFrame({'col1' : [1,2,3,4,5],
              'col2' : [45,56,67,34,35],
              'col3': "sudhanshu kumar krish ineuron one"
    
    
})

   col1  col2                               col3
0     1    45  sudhanshu kumar krish ineuron one
1     2    56  sudhanshu kumar krish ineuron one
2     3    67  sudhanshu kumar krish ineuron one
3     4    34  sudhanshu kumar krish ineuron one
4     5    35  sudhanshu kumar krish ineuron one

In [5]:
"sudhanshu kumar krish ineuron one".split()

['sudhanshu', 'kumar', 'krish', 'ineuron', 'one']

In [8]:
df = pd.DataFrame({'col1' : [1,2,3,4,5],
              'col2' : [45,56,67,34,35],
              'col3': "sudhanshu kumar krish ineuron one".split()
    
    
})

In [9]:
df

   col1  col2       col3
0     1    45  sudhanshu
1     2    56      kumar
2     3    67      krish
3     4    34    ineuron
4     5    35        one

In [12]:
 # create col4 and perform square of all values of col1

df['col4'] = df['col1']**2

In [13]:
df

   col1  col2       col3  col4
0     1    45  sudhanshu     1
1     2    56      kumar     4
2     3    67      krish     9
3     4    34    ineuron    16
4     5    35        one    25

In [14]:
#create col5 where it is suppopse to hold first ch of each and every string of col3

df['col5'] = df['col3'].str[0]

In [15]:
df

   col1  col2       col3  col4 col5
0     1    45  sudhanshu     1    s
1     2    56      kumar     4    k
2     3    67      krish     9    k
3     4    34    ineuron    16    i
4     5    35        one    25    o

In [ ]:
 # create col4 and perform square of all values of col1

In [17]:
def test(a):
    return a**2

In [19]:
df['col4'] = df['col1'].apply(test)

In [20]:
df

   col1  col2       col3  col4 col5
0     1    45  sudhanshu     1    s
1     2    56      kumar     4    k
2     3    67      krish     9    k
3     4    34    ineuron    16    i
4     5    35        one    25    o

In [23]:
def test1(a):
    if a == 's':
        return 's'
    else:
        return 'z'

In [24]:
df['col6'] = df['col5'].apply(test1)

In [25]:
df

   col1  col2       col3  col4 col5 col6
0     1    45  sudhanshu     1    s    s
1     2    56      kumar     4    k    z
2     3    67      krish     9    k    z
3     4    34    ineuron    16    i    z
4     5    35        one    25    o    z

In [ ]:
#create col7 where you should hold data which should be  be a length of each of every string available in col3

In [26]:
df['col7'] = df['col3'].apply(len)

In [27]:
df

   col1  col2       col3  col4 col5 col6  col7
0     1    45  sudhanshu     1    s    s     9
1     2    56      kumar     4    k    z     5
2     3    67      krish     9    k    z     5
3     4    34    ineuron    16    i    z     7
4     5    35        one    25    o    z     3

In [ ]:
#create col8 which will hold log value  of col2

In [29]:
import math

In [30]:
df['col8'] = df['col2'].apply(math.log)

In [31]:
df

   col1  col2       col3  col4 col5 col6  col7      col8
0     1    45  sudhanshu     1    s    s     9  3.806662
1     2    56      kumar     4    k    z     5  4.025352
2     3    67      krish     9    k    z     5  4.204693
3     4    34    ineuron    16    i    z     7  3.526361
4     5    35        one    25    o    z     3  3.555348

In [ ]:
# Numpy

In [3]:
import numpy as np

In [4]:
l = ["sudh" , 1,2,3,4]

In [5]:
type(l)

list

In [6]:
np.array(l)

array(['sudh', '1', '2', '3', '4'], dtype='<U11')

In [7]:
type(np.array(l))

numpy.ndarray

In [16]:
a1 =  np.array([3,4,5,6,3.0])

In [11]:
a =np.array([[1,2] ,[3,4]])

In [12]:
a

array([[1, 2],
       [3, 4]])

In [14]:
a[1][1] #extract 4 from above array

4

In [17]:
a1

array([3., 4., 5., 6., 3.])

In [21]:
a1[1]

4.0

In [22]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [34]:
 a2 = np.array([1,2,3,4] ,ndmin =  4)

In [39]:
a2[0][0][0][0]  # extract 1 from avove array

1

In [40]:
a

array([[1, 2],
       [3, 4]])

In [41]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [42]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [43]:
np.asarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [44]:
np.mat([1,2,3,4,5])

matrix([[1, 2, 3, 4, 5]])

In [45]:
a = [1,2,3,4,5]
np.asarray(a)

array([1, 2, 3, 4, 5])

In [46]:
np.mat(a)

matrix([[1, 2, 3, 4, 5]])

In [47]:
np.asanyarray(a)

array([1, 2, 3, 4, 5])

In [48]:
np.asanyarray(np.mat(a))

matrix([[1, 2, 3, 4, 5]])

In [ ]:
# martix is a child class of an array

In [49]:
np.fromfunction(lambda i ,j : i==j ,(3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [52]:
np.fromfunction(lambda i ,j: i*j , (4,4) ,dtype =int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [53]:
np.mat(np.fromfunction(lambda i ,j: i*j , (4,4) ,dtype =int))

matrix([[0, 0, 0, 0],
        [0, 1, 2, 3],
        [0, 2, 4, 6],
        [0, 3, 6, 9]])

In [54]:
np.fromfunction(lambda i ,j,k: i*j*k , (3,3,2) ,dtype =int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [55]:
np.fromfunction(lambda i ,j,k: i*j*k , (4,3,2) ,dtype =int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [56]:
np.fromfunction(lambda i ,j,k,p: i*j*k*p , (4,3,2,2) ,dtype =int)

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [69]:
a = np.fromfunction(lambda i ,j,z: i*j*z , (4,3,2) ,dtype =int)

In [70]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [71]:
a.ndim

3

In [72]:
a.size

24

In [73]:
a.shape

(4, 3, 2)

In [74]:
a.dtype

dtype('int32')

In [75]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [76]:
a = np.fromfunction(lambda i ,j: i*j , (3,2) ,dtype =int)

In [77]:
a

array([[0, 0],
       [0, 1],
       [0, 2]])

In [78]:
import pandas as pd

In [79]:
pd.DataFrame(a)

   0  1
0  0  0
1  0  1
2  0  2

In [80]:
np.random.randn(100,4)

array([[-0.7267379 ,  1.07520801, -0.31269674, -0.73649014],
       [-0.41526959,  0.62593808,  0.25694147,  0.67675536],
       [ 1.74674107, -0.70436595, -0.33513583, -0.47121704],
       [-1.49715889,  0.53759633, -0.71963015,  2.02781943],
       [ 0.20648043, -0.92714705, -0.21536602, -0.02120393],
       [ 0.61508684, -0.38477741,  1.04292748, -1.62883224],
       [ 0.47408523, -0.73508165,  0.46154852,  0.19736659],
       [ 0.20991115,  0.09524717, -1.36015801,  1.59075334],
       [ 1.21737999,  0.23715861, -0.3274497 ,  0.76784548],
       [ 1.54852309,  0.46805391, -1.3114352 ,  0.10903904],
       [-0.44039184, -1.1449794 ,  1.11354678, -1.94783811],
       [-0.55749492,  0.08516193, -0.00505949,  1.46225259],
       [ 0.83197232,  0.57343889, -0.65696134, -0.13366166],
       [-0.21927837,  1.83421509,  0.44220838,  0.12341007],
       [-0.49303662, -0.16986271, -0.07619017, -0.52724161],
       [-1.17919151,  0.364852  , -0.61334105, -0.25160441],
       [ 1.56846469,  0.79304795, -0.13731933,  1.86666803],
       [-0.18361764,  0.20434159, -0.71463362, -0.88298697],
       [ 0.73008682,  0.90259476, -0.14174869, -1.06148   ],
       [ 1.01756158, -0.57911736,  0.57989398,  0.06662723],
       [ 0.24199311,  0.53166343,  0.52776561,  0.41562441],
       [ 0.03613196,  0.08884704, -0.74409182,  0.55518975],
       [ 0.80151941, -1.2582474 , -0.24519829,  0.05536148],
       [ 0.29145887,  0.44635932,  1.32854897, -1.53900244],
       [-0.26714805, -0.26230841,  0.29486929, -0.8643363 ],
       [ 0.24244014,  0.78938384, -1.0605801 ,  2.35819782],
       [-0.31790033, -0.21488534, -1.23714369,  0.21219685],
       [ 0.74180901,  0.8265619 , -0.35973564, -0.82842877],
       [ 0.17184468, -2.20872644, -0.5223593 , -0.44264685],
       [ 0.98383459,  0.72709637, -0.55354197, -0.5416876 ],
       [ 0.50408684,  0.91520868,  0.94782623,  0.4458957 ],
       [ 0.12924219, -0.40808492, -1.8620816 ,  0.04420419],
       [ 1.39932401,  0.44055422,  1.12840365,  0.21225723],
       [-0.73911119, -1.83484595, -0.36230374, -0.28632868],
       [ 0.59515231,  0.0533375 , -1.00950996,  0.60704376],
       [ 0.8886856 ,  0.44110656, -0.06605845, -0.10430643],
       [-0.69244103, -0.88245394,  0.17849582,  0.07346285],
       [ 0.60690702,  1.07669609,  0.0513666 ,  0.12019997],
       [ 0.00714018, -0.46988488, -0.43501657,  0.66797726],
       [ 1.10156238,  0.7051625 ,  0.24857004,  1.242938  ],
       [-0.8522042 , -1.92680738,  1.00160723,  0.27294339],
       [ 0.19649442,  1.27096762, -1.74020437,  0.70806785],
       [-0.64382584, -0.57670272,  0.07826634, -1.39504777],
       [-1.52717091, -0.04403195,  1.41477427, -0.39312438],
       [-0.35933798, -1.90475627, -0.78661295,  0.35472421],
       [-1.8466031 , -1.74830199, -0.65256107, -0.57190467],
       [-0.38325891,  0.36173912, -0.91622871, -0.6945752 ],
       [-0.03319613,  0.893718  ,  0.21272215,  1.3588108 ],
       [ 2.65075633,  0.28570301,  1.78547979, -0.06174384],
       [-1.89365503, -1.06582352, -1.23229479, -0.47207191],
       [-1.24172127,  0.7562218 , -0.39651769, -0.72484639],
       [-0.35991773,  0.41651707,  1.86780126,  0.19027738],
       [ 0.55874517, -0.77412789, -0.20769882, -0.97937074],
       [-0.88377261, -1.29263606,  1.67531941,  0.06879547],
       [-0.60350306, -0.57095571, -2.49220517,  0.22377637],
       [ 1.61957971,  0.50421028, -1.15610837, -1.42004411],
       [ 0.4443158 ,  0.97870464,  2.01729872,  0.80979682],
       [-0.91462469, -0.53952667,  1.44992882, -0.58327127],
       [ 2.16970108, -1.44736887,  0.02681176, -1.5836574 ],
       [-0.90495397, -1.36198144,  2.18964799,  1.10197106],
       [ 0.87910167, -0.46560383,  2.17391026,  0.60960478],
       [ 0.76522963, -0.13441841,  0.20577175, -0.13873143],
       [-0.19842534,  2.59107457, -0.08094082, -0.97730139],
       [-1.86717024, -1.22516207, -1.26601921,  0.68687436],
       [ 0.17950444,  1.71332525, -0.63916751,  1.33732315],
       [-0.6076214 ,  1.80934462,  0.08800032,  0.20209433],
       [-1.73635   ,  0.60574468, -0.15524209, -0.48824085],
       [-0.01625914,  0.27434162, -0.07079977, -0.50810777],
       [-0.02311611,  1.00391894, -0.16298558, -0.61006138],
       [-0.44441136,  0.77767387,  0.18307296,  0.50560485],
       [ 0.63796585, -0.60544532,  0.41482778,  0.73074526],
       [ 0.69506674, -0.73737845, -1.00619284,  0.18320382],
       [ 0.70359818,  0.27994578, -1.67755973,  0.82257894],
       [-0.02786752, -1.45170464,  2.62759067,  1.06441429],
       [ 0.29379775, -0.08571212,  0.40869936,  0.37609208],
       [-0.3439322 , -0.22521475,  0.62754165, -0.14089769],
       [-0.18482361,  2.03718554,  0.23334369, -0.34744112],
       [ 1.47114591, -1.21082545,  1.57918975, -0.34426063],
       [ 0.34278019, -0.07824578, -0.33665823,  0.65542182],
       [-0.08926646, -1.83056229, -0.47208059,  0.98852147],
       [-1.10967396, -1.70631632,  1.56673506,  0.98459758],
       [ 0.37750432, -1.20103232,  0.18982614,  0.2244548 ],
       [-0.39896974,  0.77968195,  0.38010517,  0.23762977],
       [-0.52305556, -2.23364478, -2.34444938,  1.14252178],
       [-0.77150823, -0.61117568, -0.21817555,  1.47855148],
       [-1.267545  , -0.45140616,  0.01784734,  1.10634606],
       [ 0.53673642,  1.42680649,  0.2928238 , -1.20580308],
       [ 1.24593638, -0.1826228 ,  1.0394953 ,  0.59324794],
       [-0.48968337,  0.01513704, -1.41898328,  0.24415205],
       [ 0.39639272, -0.46123474, -0.30041313,  0.82841073],
       [ 1.60206731,  0.64823524, -1.63677923,  0.05468496],
       [-0.84724467, -1.07104899,  2.54914802,  0.31041806],
       [-1.23779037, -1.0320073 , -0.52516873,  2.08848549],
       [-1.80932201, -0.42724644, -0.3687148 , -2.51128985],
       [-0.05899055, -1.21894269, -1.59157849,  0.55120234],
       [ 0.22579351,  1.09195384, -0.23493286,  1.11960921],
       [-1.44529303, -1.05488749,  1.66185917, -0.4712753 ],
       [ 0.88345167,  1.22380778,  0.57582449,  0.09565518],
       [ 0.94999492,  1.20392306,  0.542446  ,  0.69466707],
       [ 0.15589023,  1.74073014, -0.25554474, -0.07461066]])

In [82]:
np.random.randint(4,50)

40

In [83]:
np.random.randn(4,5)

array([[-0.24524243,  0.7730735 ,  0.72475032,  2.33069484, -0.33445935],
       [-0.48352662,  1.40779063, -1.92877536, -0.15034187,  0.7565851 ],
       [-0.19294329,  0.86021572, -0.09535839,  1.37961886,  0.39147467],
       [ 0.88095193,  0.21903253,  0.86241121,  0.83505812,  1.25134159]])

In [84]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0  1.714959 -0.528685 -1.055564 -0.524165 -0.429949
1  0.312101 -0.955576 -0.086557  0.165056  0.242110
2  1.628850  0.574018 -0.774791 -0.648070  1.403055
3 -0.868841  1.252539 -1.166043 -0.040780  1.178714

In [85]:
a5 = np.fromfunction(lambda i ,j,z: i*j*z , (4,3,2) ,dtype =int)

In [91]:
a5.reshape(12,2)

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 2],
       [0, 0],
       [0, 2],
       [0, 4],
       [0, 0],
       [0, 3],
       [0, 6]])

In [92]:
a5.reshape(6,4)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 2],
       [0, 0, 0, 2],
       [0, 4, 0, 0],
       [0, 3, 0, 6]])

In [94]:
pd.DataFrame(a5.reshape(3,8))

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1  0  1  0  2  0  0  0  2
2  0  4  0  0  0  3  0  6

In [95]:
a6 = np.fromfunction(lambda i ,j,z: i*j*z , (4,3,2) ,dtype =int)

In [102]:
a6.reshape(4,2,1,3)

array([[[[0, 0, 0]],

        [[0, 0, 0]]],


       [[[0, 0, 0]],

        [[1, 0, 2]]],


       [[[0, 0, 0]],

        [[2, 0, 4]]],


       [[[0, 0, 0]],

        [[3, 0, 6]]]])

In [103]:
a7 = np.fromfunction(lambda i ,j,z: i*j*z , (4,3,2) ,dtype =int)

In [104]:
a7.reshape(4,-1) # -1 takes 6 here in this case (4 *6 = 24)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [105]:
a7.reshape(2,-1)

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4, 0, 0, 0, 3, 0, 6]])

In [106]:
a7.reshape(2,4,-1)

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0],
        [1, 0, 2]],

       [[0, 0, 0],
        [2, 0, 4],
        [0, 0, 0],
        [3, 0, 6]]])

In [111]:
list(range(4,10,2))

[4, 6, 8]

In [112]:
np.arange(4,10 ,0.2)

array([4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4,
       6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6, 8.8, 9. ,
       9.2, 9.4, 9.6, 9.8])

In [117]:
a10 =np.arange(4,10.5,.2)

In [118]:
a10

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [119]:
a10[1:4]

array([4.2, 4.4, 4.6])

In [121]:
arr =np.random.rand(4,5)

In [122]:
arr

array([[0.67181163, 0.17642536, 0.99283818, 0.34280441, 0.38037884],
       [0.85660107, 0.6926706 , 0.48537463, 0.8820737 , 0.81463828],
       [0.65186272, 0.62798614, 0.46910708, 0.35801607, 0.60923464],
       [0.55391794, 0.87837259, 0.26733156, 0.379251  , 0.98800701]])

In [ ]:
# extract vlaues >0.5 in above array

In [123]:
arr >.5

array([[ True, False,  True, False, False],
       [ True,  True, False,  True,  True],
       [ True,  True, False, False,  True],
       [ True,  True, False, False,  True]])

In [124]:
arr[arr>0.5]

array([0.67181163, 0.99283818, 0.85660107, 0.6926706 , 0.8820737 ,
       0.81463828, 0.65186272, 0.62798614, 0.60923464, 0.55391794,
       0.87837259, 0.98800701])

In [125]:
arr

array([[0.67181163, 0.17642536, 0.99283818, 0.34280441, 0.38037884],
       [0.85660107, 0.6926706 , 0.48537463, 0.8820737 , 0.81463828],
       [0.65186272, 0.62798614, 0.46910708, 0.35801607, 0.60923464],
       [0.55391794, 0.87837259, 0.26733156, 0.379251  , 0.98800701]])

In [127]:
arr[[1,2], [2]]

array([0.48537463, 0.46910708])

In [128]:
arr = np.random.rand(8,5)

In [129]:
arr

array([[0.38299925, 0.50058068, 0.12766466, 0.91972387, 0.37704135],
       [0.2953407 , 0.92361939, 0.46962858, 0.28870875, 0.31684598],
       [0.39859257, 0.26781094, 0.23758455, 0.47885485, 0.47294902],
       [0.34879896, 0.40531377, 0.37815807, 0.29829956, 0.36218784],
       [0.8467774 , 0.49350745, 0.3495204 , 0.6957274 , 0.85332977],
       [0.04824035, 0.77529906, 0.43325752, 0.31575267, 0.87519644],
       [0.33149812, 0.86184533, 0.4744631 , 0.65015764, 0.52067526],
       [0.0634255 , 0.99830056, 0.07696857, 0.647505  , 0.63859016]])

In [135]:
arr[1:8,[0,1,2]]

array([[0.2953407 , 0.92361939, 0.46962858],
       [0.39859257, 0.26781094, 0.23758455],
       [0.34879896, 0.40531377, 0.37815807],
       [0.8467774 , 0.49350745, 0.3495204 ],
       [0.04824035, 0.77529906, 0.43325752],
       [0.33149812, 0.86184533, 0.4744631 ],
       [0.0634255 , 0.99830056, 0.07696857]])

In [132]:
arr[1:8,0:3]

array([[0.2953407 , 0.92361939, 0.46962858],
       [0.39859257, 0.26781094, 0.23758455],
       [0.34879896, 0.40531377, 0.37815807],
       [0.8467774 , 0.49350745, 0.3495204 ],
       [0.04824035, 0.77529906, 0.43325752],
       [0.33149812, 0.86184533, 0.4744631 ],
       [0.0634255 , 0.99830056, 0.07696857]])

In [137]:
a2 = arr[1:8,[0,1,2]]

In [138]:
a2

array([[0.2953407 , 0.92361939, 0.46962858],
       [0.39859257, 0.26781094, 0.23758455],
       [0.34879896, 0.40531377, 0.37815807],
       [0.8467774 , 0.49350745, 0.3495204 ],
       [0.04824035, 0.77529906, 0.43325752],
       [0.33149812, 0.86184533, 0.4744631 ],
       [0.0634255 , 0.99830056, 0.07696857]])

In [139]:
a2[0][0]

0.2953406977137739

In [140]:
a2[0][0] = 100

In [141]:
a2

array([[1.00000000e+02, 9.23619393e-01, 4.69628581e-01],
       [3.98592569e-01, 2.67810943e-01, 2.37584552e-01],
       [3.48798964e-01, 4.05313767e-01, 3.78158067e-01],
       [8.46777397e-01, 4.93507449e-01, 3.49520398e-01],
       [4.82403505e-02, 7.75299060e-01, 4.33257522e-01],
       [3.31498120e-01, 8.61845333e-01, 4.74463099e-01],
       [6.34254985e-02, 9.98300562e-01, 7.69685718e-02]])

In [146]:
a = np.array([[1,2] , [3,4]])
b = np.array([[2,3] , [4,5]])

In [147]:
a

array([[1, 2],
       [3, 4]])

In [148]:
b

array([[2, 3],
       [4, 5]])

In [149]:
a*b

array([[ 2,  6],
       [12, 20]])