In [1]:
a =10

In [9]:
if a<15:
    print("my name is jayanth")

my name is jayanth

In [10]:
if a<15:
    pass

In [11]:
if a<15 :
    print("control statements")

control statements

In [12]:
if 24 <15:
    print("hello")

In [13]:
24<15

False

In [14]:
if 10<3:
    print("is false")
else :
    print("is true")

is true

In [16]:
if 5<10:
    print("is true")
else:
    print("is false")

is true

In [17]:
income =100
if income<50:
    print ("i will be able to buy ph")
elif income < 70:
    print("i will able to buy car")
elif income<90:
    print("i will be able to buy a w machine")
else :
    print("i wont be able to buy anything")

i wont be able to buy anything

In [21]:
income =int(input())
if income<50:
    print ("i will be able to buy ph")
elif income < 70:
    print("i will able to buy car")
elif income<90:
    print("i will be able to buy a w machine")
else :
    print("i wont be able to buy anything")

68
i will able to buy car

In [24]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.20
    print("Discount will be ", discount)
elif total_price <= 20000:
    discount = total_price*.05
    print("Discount will be ",discount)
else:
    print("no discount")

4565
Discount will be  228.25

In [26]:
coup = "ABCD5"
if coup == "ABCD5":
    print("dis of 5%")
    paid_amount = 7080-7080*.5
    print("one neuron ", paid_amount)
else:
    print("use a valid coup code")

dis of 5%
one neuron  3540.0

In [27]:
coup = input()
if coup == "ABCD5":
    print("dis of 5%")
    paid_amount = 7080-7080*.5
    print("one neuron ", paid_amount)
else:
    print("use a valid coup code")

abcd5
use a valid coup code

In [36]:
study_hour =int(input())
if study_hour <1:
    print("7m to transition")
elif study_hour >1 and study_hour<5:
    print(" 6m to transition")
elif study_hour > 10:
    print("approx 3m to transtion")
else:
    print("difficult")

4
 6m to transition

In [ ]:
s = input()
course = input()
service= input()
if s == "oneneuron":
    if course == "DSA":
        print("yes its available under oneneuron")
    elif course == "Blockchain":
        print("currently not under oneneuron")
    elif course == "FSDS":
        print("yes , its under oneneuron")
    else:
        print("req ur demand")
elif s = "oneneuronservice":
    if service == "courserequest"

In [39]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [44]:

for i in "sudh":
    print(i)

s
u
d
h

In [45]:
t = (1,2,3,4,5)

In [46]:
for i in t:
    print(i)

1
2
3
4
5

In [49]:
l = [1 , 4 , 5.6 , 4+7j ,"sudh"]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [50]:
l = [1 , 4 , 5.6 , 4+7j ,"sudh"]
for i in l:
    print(type(i) ,"type of" ,i)

<class 'int'> type of 1
<class 'int'> type of 4
<class 'float'> type of 5.6
<class 'complex'> type of (4+7j)
<class 'str'> type of sudh

In [51]:
l =[1,4,5.6]
for i in l :
    print(i+2)

3
6
7.6

In [52]:
l =[1,4,5.6]
l1 =[]
for i in l :
    print(i+2)
    l1.append(i+2)

3
6
7.6

In [53]:
l1

[3, 6, 7.6]

In [64]:
l =[2,45,78,12,"sudh", 1+3j, [45,34,5,56]]

In [66]:
for i in l:
    if type(i)==int:
        print(i)

2
45
78
12

In [67]:
l =[2,45 , 78 ,12 ,"sudh",6+7j,[56,67,78,"abcdef"]]
#q1 . try to print index of all the element 
#q2 . try to extract all the list of char if element is string
#q3 . try to return a list after doing a square of all the int element

In [4]:
l =[2,45 , 78 ,12,12,12,12 ,"sudh","kumar",6+7j,[56,67,78,"abcdef"]]

In [5]:
range(4)

range(0, 4)

In [6]:
len(l)

11

In [7]:
for i in range(len(l)):
    print("index",i ,"for an element",l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element 12
index 5 for an element 12
index 6 for an element 12
index 7 for an element sudh
index 8 for an element kumar
index 9 for an element (6+7j)
index 10 for an element [56, 67, 78, 'abcdef']

In [8]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 'sudh')
(8, 'kumar')
(9, (6+7j))
(10, [56, 67, 78, 'abcdef'])

In [9]:
l

[2, 45, 78, 12, 12, 12, 12, 'sudh', 'kumar', (6+7j), [56, 67, 78, 'abcdef']]

In [10]:
#q2
for i in l:
    if type(i)==str:
        l1 =[]
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']
['k', 'u', 'm', 'a', 'r']

In [11]:
l

[2, 45, 78, 12, 12, 12, 12, 'sudh', 'kumar', (6+7j), [56, 67, 78, 'abcdef']]

In [12]:
#q3
l2=[]
for i in  l:
    if type(i)== int:
        l2.append(i**2)

In [13]:
l2

[4, 2025, 6084, 144, 144, 144, 144]